<!DOCTYPE html>
<html>
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
{% if site.valine_comment.enable %}
<div id="comments"></div>
<!--Leancloud 操作库:-->
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<!--Valine 的核心代码库:-->
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
   new Valine({
       el: '#comments',
       app_id: '{{ site.valine_comments.leancloud_appid}}',
       app_key: '{{ site.valine_comments.leancloud_appkey}}',
       placeholder:'{{ site.valine_comments.placeholder }}',
       visitor: true,
       notify: '{{site.valine.notify }}',
       verify: '{{ site.valine.verify }}',
     recordIP: 'true',
       enableQQ: 'true',
   });
</script>
{% endif %}
{% include footer.html -%}
{% include script.html -%}
</body>
</html>